html {
    font-size: 10px;
}

body {
    background: #051d3b;
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    line-height: 2.4rem;
}

label {
    display: block;
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    left: -9999px;
}

/* button {
    display: flex;
    align-items: center;
} */

.side_title {
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    line-height: 1.8rem;
    letter-spacing: .4em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 1.6rem;
}

/* TAG main*/

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.6rem;
}

.menu {
    display: none;
    width: 22%;
}

.menu hr{
    display: none;
}

.hide-menu {
    position: absolute;
    right: 1.6rem;
    background: #2D415B;
    border-radius: 8px;
    padding: 2.4rem;
    z-index: 2;
    box-sizing: border-box;
    height: calc(100vh - 12rem);
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);
}

.hide-menu h2 {
    display: none;
}

.hide-menu hr{
    opacity: 0.08;
}

.menu__itens {
    display: flex;
    flex-direction: column;
}

.menu__item {
    margin-bottom: 1.6rem;
}

.menu__link {
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
}

.menu__link:hover {
    opacity: 0.72;
}

.menu__link:hover .menu__link__icon {
    background: rgba(80, 129, 251, 0.64);
}

.menu__link:active {
    opacity: 1;
}

.menu__link:active .menu__link__icon {
    background: #5081FB;
}

.menu__link--inactive {
    opacity: 0.56;
}

.menu__link .container {
    display: flex;
    align-items: center;
}

.menu__link__icon {
    padding: 1.2rem;
    border-radius: 1.6rem;
    background: #5081FB;
    display: flex;
    align-items: center;
    margin-right: 1.6rem;
}

.menu__link--inactive .menu__link__icon {
    background: rgba(80, 129, 251, 0.16);
}

.menu__user {
    display: flex;
    align-items: center;
}

.code {
    width: 100%;
    max-width: 80rem;
}

.code__background {
    background: #6bd1ff;
    width: 100%;
    border-radius: .8rem;
    padding: 2rem;
    box-sizing: border-box;
}

.code__window {
    background: #141414;
    padding: 1.6rem;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);
    border-radius: 8px;
    font-family: 'Roboto', monospace;
}

.code__window__buttons {
    display: flex;
    margin-bottom: 2.4rem;
}

.code__window__buttons div{
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    margin-right: .8rem;
}

.code__window__buttons--red {
    background: #ff5f56;
}

.code__window__buttons--yellow {
    background: #ffbd2e;
}

.code__window__buttons--green {
    background: #27c93f;
}

.code__window__area {
    display: inline-block;
    width: 100%;
    min-height: 2rem;
    outline: 0;
    border: 0;
    white-space: pre-wrap;
    font-family: 'Roboto', monospace;
    font-size: 1.4rem;
}

/* .code__window textarea {
    width: 100%;
    border: none;
    background: transparent;
    outline: none;
    color: #ffffff;
    font-family: 'Roboto' monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1.8rem;
    resize: vertical;
} */

.code__button {
    background: rgba(80, 129, 251, 0.08);
    border-radius: 8px;
    color: #ffffff;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 100%;
    padding: 1.6rem;
    margin: 3.2rem 0;
}

.code__button:hover {
    background: rgba(80, 129, 251, 0.16);
}

.code__button:active {
    background: rgba(80, 129, 251, 0.16);
    outline: 4px solid rgba(80, 129, 251, 0.24);
}

.code__button:focus {
    background: rgba(80, 129, 251, 0.24);
}

.project {
    width: 100%;
    max-width: 75.2rem;
}

.project__input {
    width: 100%;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 8px;
    border: none;
    padding: 1.6rem 1.4rem;
    outline: none;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    color: #ffffff;
    margin-bottom: 1.6rem;
    resize: none;
}

.project__input:hover, .project__input:focus {
    background: rgba(255, 255, 255, 0.24);
}

.project__input::placeholder {
    color: #ffffff;
    opacity: 0.64;
}

.project__input:focus::placeholder {
    color: transparent;
}

.project__select option {
    color: black;
    background: white;
}

.project__input__color {
    width: 100%;
    border: 1px solid #ffffff;
    border-radius: 8px;
    padding: 4px 6px;
    margin: 0 0 1.6rem;
    background: #051d3b;
    height: 56px;
}

.project__input__color::-webkit-color-swatch {
    border: none;
    border-radius: 4px;
}

.project__input__submit {
    width: 100%;
    margin: 1.6rem 0;
    box-sizing: border-box;
    background: #5081fb;
    padding: 1.6rem;
    border: none;
    outline: none;
    border-radius: .8rem;
    color: #051d3b;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;

}

.project__input__submit:hover {
    background: #7ba4fc;
}

.project__input__submit:active {
    background: #7ba4fc;
    outline: 4px solid rgba(80, 129, 251, 0.72);
}

.project__input__submit:focus {
    background: #96B9FD;
}

@media screen and (min-width: 600px) {
    .code__background {
        padding: 3.2rem;
    }
    .project__config__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .project__select {
        width: 48%;
    }
    .project__input__color {
        width: 48%;
    }
}

@media screen and (min-width: 1200px) {
    .main {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0 3.2rem;
    }
    .menu {
        display: inline-block;
    }
    .menu__user,
    .menu__line {
        display: none;
    }
    .code {
        width: 50%;
        /* max-width: 80rem; */
    }
    .project {
        width: 22%;
    }
    .project__config__container {
        display: block;
    }
    .project__select {
        width: 100%;
    }
    .project__input__color {
        width: 100%;
    }
}
